:root {
  --bg-color: #282c34;
  --color-blue: #61dafb;
}

body {
  background-color: var(--bg-color);
  color: var(--color-blue);
}

.App {
  min-height: 100vh;
  position: relative;
}

header {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
}
