.project {
  width: 320px;
  /* height: 240px; */

  position: relative;
  /* box-shadow: 0px 0px 4px black; */
  padding-bottom: 1rem;
}

.project__img {
  background-image: cover;
  /* downscaled x4 from 1280x640 */
  width: 320px;
  height: 160px;
}

.project__tech-container {
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
}

.project__tech {
  margin: 0 0.25rem;
}

.project__title {
  font-size: x-large;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

/* ************************************** */
/* **************  hover  *************** */
/* ************************************** */
.project__img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project__overlay-container--onhover {
  position: absolute;
  z-index: 234;
  background-color: hsla(213, 50%, 3%, 0.5);

  width: 100%;
  display: none;
}
.project:hover .project__overlay-container--onhover {
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project__demo-and-code-container {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.project__title {
  text-align: center;
}
